include /_mixins

doctype html
html
  head
    title= "Todo" 
    +stylesheet_link_tag('application')
    +javascript_include_tag('vendor/all')
    +javascript_include_tag('handlebars_templates')
  body
    .column
      input#menu-toggle(type='checkbox')
      |   
      label(for='menu-toggle')
        img#toggle-left(src='images/toggle_list.png', alt='toggle')
      |        
      .left-column
      .modal-section
      .main-section
      
      block content
  
  +javascript_include_tag("application")
  +javascript_include_tag("models/todo")
  +javascript_include_tag("collections/todos")
  +javascript_include_tag("views/index", "views/sidebar", "views/formview")
  script(type="text/javascript").
    App.todos = new Todos();
  +javascript_include_tag("router")
  block scripts