include /_mixins

doctype html
html
  head
    title= "Todo" 
    +stylesheet_link_tag('application')
    +javascript_include_tag('vendor/all')
    +javascript_include_tag('handlebars_templates')
  body
    .column
    
      block content
  
  +javascript_include_tag("application")
  +javascript_include_tag("models/todo")
  +javascript_include_tag("collections/todos")
  +javascript_include_tag("views/index", "views/todo", "views/sidebar", "views/formview")
  script(type="text/javascript").
    App.todos = new Todos();
    App.selected_todos = new Todos(App.todos.toJSON());
    App.selected_title = "All Todos";
    App.selected_count = App.todos.length;
  +javascript_include_tag("router")
  block scripts