<dl class="table-title">
  <dt>{{selected_title}}</dt>
  <dd><span class="todos-count">{{selected_count}}</span></dd>          
</dl>     
<table class="no-spacing">
  <thead>
    <tr id="add-todo">
      <th>
        <img src="images/plus_icon.png" class="logo add" alt="Add" /> Add new to do
      </th>
    </tr>
  </thead>
  <tbody id="item-area">
  </tbody>
</table>
