<td class="list-item">     
  <label>
    <input type="checkbox" />
    <span class="checkboxlabel"></span>
  </label>
  <a href="#" id="edit-form">{{title}}
  - <span class="due_date">{{date}}</span>
  </a> 
</td>              
<td class="delete">
  <a href="#" class="delete">
    <img src="images/icon_delete.png" alt="delete" />
  </a>
</td>

